# Arduino compiled binary files
*.hex
*.elf

# Arduino build folder
/build/

# Sketchbook libraries
/libraries/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Temporary files
*.tmp
*.temp

# Logs
*.log

# IDE specific files
*.swp
*.swo
*.bak

# Other backup files
*.old
*.orig
*.save
credentials.h
.vscode